body { 
  	font-family: DejaVu Sans, sans-serif; 
  	font-size: 11px;
  }

.width60{
	width:60%;
}

.width40{
	width: 40%;
}
  .font10{
  	font-size: 10px;
  }

  .memo{
  	width:100%;
  }

  .content{
  	width:100%;
  }

  .content td{
  	padding: 5px;
  }

  .textcenter{
  	text-align:center;
  }

  .textleft{
  	text-align:left;
  }

  .textright{
  	text-align:right;
  }

  table.borders, table.borders td{
  	border-collapse: collapse;
  	border: 1px solid gray;
  }

.valigncenter{
	vertical-align: middle;
}
  .signature{
  	width:33%;
  }

  .stamp{
  	width:200px;
  }