body{
	font-size: 12px;
	font-family: Ariel;
}

form{
	font-size: 12px;
}

form:legend{
	font-size: 12px;
}

.valign{
	display:inline-block;
	vertical-align: middle;
}

#advancedSearch{
	display: none;
}

#basic{
	width:300px;
}

.modal-body{
	max-height: 800px;
	overflow: visible;
}

.selectize-control{
	max-width: 100%;
}

#gender option { color: black; }
.empty { color: gray; }
